.main-footer {
    & .links {
        
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        gap: 0.5em;

        & a {
            font-size: 12px;
            color: #808080;
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                text-decoration: underline;
            }
        }
    }

    & .btn--transparent-green {
        position: fixed;
        bottom: 20px;
        right: 20px;
        left: 20px;
        background-color: #5eaf60;
        color: #fff;

        @media screen and (min-width: 768px) {
            left: unset;
            right: 90px;
        }
    }
}